.name {
  padding-bottom: 50px;
  text-align: center;
}

.row {
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .profile {
    width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 25px;
  }

  .main-body {
  }

  body {
    color: white;
    background-color: #001f4d;
  }
}

@media (min-width: 768px) {
  .profile {
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;
    padding-bottom: 15px;
  }

  .main-body {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: #001f4d;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
  }

  body {
    color: white;
    background-color: #131E33;
  }
}
